<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="t21">
  <xacro:arg name="prefix" default=""/>

  <!-- геометрия -->
  <xacro:include filename="$(find tracked_description)/urdf/tracked_robot.urdf.xacro"/>

  <!-- блок ros2_control -->
  <xacro:include filename="$(find tracked_description)/config/t21.ros2_control.xacro"/>

  <!-- вызываем макрос, передавая имя и префикс -->
  <xacro:t21_ros2_control name="t21" prefix="$(arg prefix)"/>

</robot>
